#root {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.header > img {
  width: 150px;
  height: 100px;
}

.header > ul {
  display: flex;
  list-style: none;
}

.header > ul > li {
  padding: 10px;
  font-size: 24px;
}

.header > ul > li:hover {
  cursor: pointer;
}

.res-card {
  margin: 5px;
  padding: 10px;
  width: 250px;
  background-color: #f0f0f0;
}

.res-card > img {
  width: 100%;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.res-container {
  display: flex;
}

#search {
  margin: 5px;
  border-radius: 10px;
  height: 25px;
}

#search_button {
  border-radius: 5px;
  height: 25px;
}
