# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
# IDE and OS Files
.DS_Store          # macOS specific file
Thumbs.db          # Windows specific file
.idea/             # JetBrains IDE configuration folder
.vscode/           # VS Code configuration folder
*.suo              # Visual Studio user options file
*.user             # Visual Studio user options file

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
